* {
	padding: 0;
	margin: 0;
}

/*Variables*/
$principale: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
/*Fin des variables*/

/*HEADER*/
.logo {
	width : 50px
	height : 30px
}
.logo__taille {
	
}
.header {
}
/*FIN HEADER*/
