* {
	padding: 0;
	margin: 0;
}

/*Variables*/
$principale: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$gris: #f2f2f2;
/*Fin des variables*/

/*Header*/
.logo {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	padding-bottom: 30px;
}

.logo__taille {
	width: 150px;
	height: 30px;
}

.header {
	display: flex;
	align-content: center;
	justify-content: center;
	background-color: #f2f2f2;
	padding-top: 15px;
	padding-bottom: 15px;
}
.header__dot {
	margin-right: 15px;
	height: auto;
	width: auto;
}
.header__txt {
	font-weight: bold;
	font-size: larger;
}
/*FIN HEADER*/
