* {
	padding: 0;
	margin: 0;
}

/*Variables*/
$principale: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
/*Fin des variables*/

/*HEADER*/
.logo {
	box-shadow: solid 1px black;
	margin-top: 30px;
}
.logo__taille {
	width: 100px;
	height: 40px;
	justify-content: center;
	justify-items: center;
	justify-self: center;
}
.header {
	align-content: center;
}
/*FIN HEADER*/
