* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Roboto", "sans-serif", "Shrikhand";
}

/*Variables*/
$principale: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$clic: #f2e7f7;
$gris: #f2f2f2;
/*Fin des variables*/

/*Header*/
.fa-arrow-left {
	font-size: 1.5rem;
	padding-right: 5rem;
	cursor: pointer;
}
.logo {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 5px;
	padding-top: 30px;
	padding-bottom: 10px;

	.logo__taille {
		width: 150px;
		height: 30px;
		padding-right: 5rem;
	}
}
.header {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-top: 15px;

	&__pic {
		height: 70%;
		width: 100%;
		object-fit: cover;
		position: absolute;
	}
}
.resto__heart {
	padding-right: 1rem;
	font-size: x-large;
	padding-top: 0.2rem;
	cursor: pointer;
	border-image-source: 2px solid grey;
}
.arrow {
	background-color: white;
	border: none;
	cursor: pointer;
}
.support {
	background-color: $gris;
	border: none;
	&:focus > .fa-heart {
		cursor: pointer;

		font-weight: 800;
		background: -webkit-gradient(
			linear,
			right bottom,
			right top,
			from(#ff79da),
			to(#9356dc)
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.fa-heart {
	-webkit-text-fill-color: black;
}

/*FIN HEADER*/

/*MENU*/
.menu {
	position: relative;
	margin-top: 23rem;
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 70px;
	background-color: $gris;
	border-radius: 35px 35px 0px 0px;
	-webkit-border-radius: 35px 35px 0px 0px;
	-moz-border-radius: 35px 35px 0px 0px;
	-ms-border-radius: 35px 35px 0px 0px;
	-o-border-radius: 35px 35px 0px 0px;
	&__title {
		font-family: "Shrikhand";
		font-weight: 400;
		font-size: x-large;
		padding-left: 1rem;
		display: flex;
		justify-content: space-between;
		margin-bottom: 2rem;
	}
	&__heart {
		padding-right: 1rem;

		padding-top: 0.2rem;
		cursor: pointer;
		border-image-source: 2px solid grey;
	}
	&__order {
		padding-left: 1rem;
		&::after {
			content: "";
			padding-left: 1rem;
			display: flex;
			margin-bottom: 1.5rem;
			width: 1.5rem;
			border-bottom: 2px $tertiaire solid;
		}
	}
	&__plat {
		animation: opacity 1s both;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		text-overflow: ellipsis;
		flex-direction: column;
		border-radius: 15px;
		width: 80%;
		height: auto;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		background-color: white;
		margin-bottom: 1rem;
		padding: 1rem;
	}
	&__plat:hover > .checkmark {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-animation: slide-left 0.5s ease;
		animation: slide-left 0.5s ease;
		-webkit-transform-origin: right;
		transform-origin: right;
	}
	&__plat:hover > .menu__price {
		padding-right: 70px;
		-webkit-transition: 0.5s ease;
		transition: 0.5s ease;
	}

	&__price {
		cursor: pointer;
		padding-top: 0.5rem;
		display: flex;
		justify-content: space-between;
		text-overflow: ellipsis;
		overflow: hidden;
		font-weight: bold;
		padding-right: 20px;
	}

	.checkmark {
		cursor: pointer;
		display: none;
		position: absolute;
		background: $tertiaire;
		border-radius: 0 15px 15px 0;
		right: 0px;
		padding: 0 13px;
		height: 100%;

		i {
			font-size: 30px;
			color: white;
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
			-webkit-animation: rotate 0.5s both;
			animation: rotate 0.5s both;
		}
	}

	&__txt {
		font-family: "Roboto";
	}
	&__btn {
		margin-top: 2.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: "Roboto";
	}
}

.anim_1 {
	animation-delay: 0.1s;
}
.anim_2 {
	animation-delay: 0.2s;
}
.anim_3 {
	animation-delay: 0.3s;
}
.anim_4 {
	animation-delay: 0.4s;
}
.anim_5 {
	animation-delay: 0.5s;
}
.anim_6 {
	animation-delay: 0.6s;
}
.anim_7 {
	animation-delay: 0.7s;
}
.anim_8 {
	animation-delay: 0.8s;
}
.anim_9 {
	animation-delay: 0.9s;
}
.anim_10 {
	animation-delay: 0.1s;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes slide-left {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(-50px);
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.appears-with-opacity {
	animation: opacity 1s both;
}

.order__btn {
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	height: 50px;
	width: 220px;
	border: none;
	background-image: linear-gradient(to bottom, #ff79da, #9356dc);
	color: white;
	box-shadow: 0px 5px 10px grey;
}
.order__btn:hover {
	color: $tertiaire;
	opacity: 0.8;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
/*FIN MENU*/

/*Footer*/
.footer {
	background-color: #414243;
	.footer__logo {
		width: 80px;
		height: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
		filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(299deg)
			brightness(102%) contrast(102%);
	}
	.footer__icn {
		padding-right: 10px;
		height: 15px;
		width: 15px;
	}
	.footer__txt > p {
		color: white;
		display: flex;
		flex-direction: row;
		padding-left: 20px;
		padding-bottom: 5px;
	}
}
/*Fin footer*/
