* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Roboto", "sans-serif", "Shrikhand";
}

/*Variables*/
$principale: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$clic: #f2e7f7;
$gris: #f2f2f2;
/*Fin des variables*/

/*MIXINS*/

/*Fin MIXIN*/

/*Loader*/
.loading {
	background: $tertiaire;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: loading-disparition 0.5s 3s ease-in forwards;
}

.loading__pictos {
	width: 50vh;
	display: flex;
	justify-content: space-around;
	padding-top: 5rem;
}

.fa-utensils {
	animation: mvtfood 1.5s 120ms ease-in;
	color: $principale;
}

.fa-champagne-glasses {
	animation: mvtfood 1.5s 280ms ease-in;
	color: $secondaire;
}

.loading__logo {
	height: auto;
	position: relative;
	color: black;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		background: linear-gradient(0deg, #ff79da 10%, #9356dc 100%);
		transform-origin: left;
		animation: loading-typo 1s 1.5s ease-in forwards;
	}

	&::after {
		content: "";
		position: absolute;
		right: 0;
		height: 100%;
		width: 100%;
		background-color: $tertiaire;
	}
}

@keyframes mvtfood {
	0% {
		opacity: 0;
	}

	5% {
		transform: translateX(-300%);
	}

	20% {
		opacity: 1;
		transform: scale(0);
		transform: translateX(100%);
	}

	25% {
		transform: translateX(-5%);
		transform: scale(0.8, 1.2);
	}

	30% {
		transform: translateX(0%);
	}

	60% {
		transform: translateY(40%);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes loading-typo {
	0% {
		transform: scaleX(1);
	}

	30% {
		transform: scaleX(1.3);
	}

	80% {
		transform: scaleX(1.6);
	}
	100% {
		transform: scaleX(2);
	}
}

@keyframes loading-disparition {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
/*Fin loader*/

/*Header*/
.logo {
	box-shadow: 10px 0px 9px grey;
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
	padding-top: 30px;
	padding-bottom: 10px;

	.logo__taille {
		width: 150px;
		height: 30px;
	}
}

.header {
	display: flex;
	align-content: center;
	justify-content: center;
	background-color: #e7eaed;
	padding-top: 15px;
	padding-bottom: 15px;
	.header__dot {
		margin-right: 15px;
		height: auto;
		width: auto;
	}
	.header__txt {
		font-weight: bold;
		font-size: larger;
	}
}
/*FIN HEADER*/

/*Intro au site*/
.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f2f2f2;
	padding-top: 30px;
	padding-bottom: 40px;
	.intro__grostxt {
		font-weight: bold;
		font-size: x-large;
		padding-bottom: 15px;
		text-align: center;
		font-weight: bolder;
	}
	.intro__petittxt {
		font-size: medium;
		padding-bottom: 30px;
		text-align: center;
		color: grey;
	}
	.intro__btn {
		border-radius: 25px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-ms-border-radius: 25px;
		-o-border-radius: 25px;
		height: 50px;
		width: 220px;
		border: none;
		background-image: linear-gradient(to bottom, #ff79da, #9356dc);
		color: white;
		box-shadow: 0px 5px 10px grey;
	}
}
/*Fin intro*/

/*Fonctionnement du site*/
.fonctionmt {
	font-weight: bold;
	margin-top: 50px;
	.fonctionmt__titre {
		padding-bottom: 20px;
		padding-left: 20px;
		font-weight: bolder;
	}
	.fonctionmt__btn {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		margin: 15px 0;
		background-color: white;
	}

	.fonctionmt__btn > button {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		background-color: #f2f2f2;
		width: 80%;
		height: 4rem;
		margin: 0 auto;
		border-radius: 15px;
		border: none;
		box-shadow: 0px 5px 10px grey;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-ms-border-radius: 15px;
		-o-border-radius: 15px;
	}
	&__btn > button:focus {
		background-color: #f2e7f7;
	}
	&__btn > button:focus > i {
		color: #9356dc;
	}
	.fonctionmt__icn {
		padding-right: 1.5rem;
		color: grey;
	}

	.fonctionmt__numbers {
		display: flex;
		justify-content: center;
		background-color: #9356dc;
		color: white;
		align-items: center;
		font-weight: lighter;
		font-size: small;
		margin-right: 2.5rem;
		height: 1.4rem;
		width: 1.5rem;
		position: absolute;
		left: 1.8rem;
		border-radius: 35px;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
		-ms-border-radius: 35px;
		-o-border-radius: 35px;
	}
}
/*Fin du fonctionnement*/

/*Restos proposés*/
.resto {
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 70px;
	background-color: $gris;

	.resto__titre {
		padding-bottom: 20px;
		padding-left: 20px;
		font-weight: bolder;
	}
	.resto__choix {
		height: 15rem;
		width: 20rem;
		background: white;
		margin: 2rem auto;
		border-radius: 15px;

		box-shadow: 0px 5px 10px grey;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-ms-border-radius: 15px;
		-o-border-radius: 15px;
	}
	.nouveau {
		position: absolute;
		right: 4rem;
		margin-top: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $tertiaire;
		color: green;
		width: 5rem;
		height: 2rem;
	}
	.image {
		width: 100%;
		height: 60%;
		object-fit: cover;
		border-radius: 10px 10px 0 0;
	}

	.desc {
		display: flex;
		justify-content: space-between;
		padding-top: 0.5rem;
		font-weight: bold;
		text-decoration: none;
		border: none;
	}

	.desc_container {
		padding: 1rem 2rem 0 2rem;
	}

	.support {
		background-color: white;
		border: none;
		input[type="checkbox"] {
			display: none;
		}
	}
	.support > input:checked + label > .fa-heart {
		cursor: pointer;
		font-weight: 800;
		background: -webkit-gradient(
			linear,
			right bottom,
			right top,
			from(#ff79da),
			to(#9356dc)
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.fa-heart {
		font-size: x-large;
		-webkit-text-fill-color: black;
	}
}
/*Fin des restos*/

/*Footer*/
.footer {
	background-color: #414243;
	.footer__logo {
		width: 80px;
		height: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
		filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(299deg)
			brightness(102%) contrast(102%);
	}
	.footer__icn {
		padding-right: 10px;
		height: 15px;
		width: 15px;
		color: white;
	}
	.footer__txt > p {
		color: white;
		display: flex;
		flex-direction: row;
		padding-left: 20px;
		padding-bottom: 5px;
	}
}
/*Fin footer*/
