* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Roboto", "sans-serif", "Shrikhand";
}

/*Variables*/
$principale: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$clic: #f2e7f7;
$gris: #f2f2f2;
/*Fin des variables*/

/*Header*/
.logo {
	box-shadow: 10px 0px 9px grey;
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
	padding-top: 30px;
	padding-bottom: 10px;

	.logo__taille {
		width: 150px;
		height: 30px;
	}
}

.header {
	display: flex;
	align-content: center;
	justify-content: center;
	background-color: #e7eaed;
	padding-top: 15px;
	padding-bottom: 15px;
	.header__dot {
		margin-right: 15px;
		height: auto;
		width: auto;
	}
	.header__txt {
		font-weight: bold;
		font-size: larger;
	}
}
/*FIN HEADER*/
.order__btn {
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	height: 50px;
	width: 220px;
	border: none;
	background-image: linear-gradient(to bottom, #ff79da, #9356dc);
	color: white;
	box-shadow: 0px 5px 10px grey;
}
/*Footer*/
.footer {
	background-color: #414243;
	.footer__logo {
		width: 80px;
		height: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
		filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(299deg)
			brightness(102%) contrast(102%);
	}
	.footer__icn {
		padding-right: 10px;
		height: 15px;
		width: 15px;
	}
	.footer__txt > p {
		color: white;
		display: flex;
		flex-direction: row;
		padding-left: 20px;
		padding-bottom: 5px;
	}
}
/*Fin footer*/
